In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dict = {
    'name': ['harry', 'rohan', 'ram', 'ankit'],
    'marks': [17, 15, 19, 16],
    'city': ['delhi', 'lucknow', 'bhopal', 'indore'],
}

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
df

--------------------
**Export to CSV file**

In [ ]:
df.to_csv('sample_data.csv')

In [ ]:
df.to_csv('sample_data_wo_index.csv', index = False) #To get csv file without indices

In [ ]:
df.head(2) # Show first x rows

In [ ]:
df.tail(2) # Show last x rows

----
**Summary of data frame**

In [ ]:
df.describe()

---
**Read CSV**

In [ ]:
weather_data = pd.read_csv('weather-dat.csv')

In [ ]:
weather_data

In [ ]:
weather_data['MaxTemp'][2] # Access a particular row and column entry

In [ ]:
df.index = ['first', 'second', 'third', 'fourth'] # Modify the index values

In [ ]:
df

---
**Creating series & dataframes**

In [ ]:
ser = pd.Series(np.random.rand(10))

In [ ]:
ser

In [ ]:
new_df = pd.DataFrame(np.random.rand(70, 5), index = np.arange(70))

In [ ]:
new_df

**Checking type**

In [ ]:
type(new_df)

In [ ]:
type(ser)

**Get attribute info**

In [ ]:
new_df.dtypes

In [ ]:
new_df.index

In [ ]:
new_df.columns # Number of columns

---
**Convert dataframe to NumPy array**

In [ ]:
new_df.to_numpy()

In [ ]:
new_df.T # Interchange columns and rows

---
**Sort by index**

In [ ]:
new_df.sort_index(axis = 0, ascending = False)

In [ ]:
new_df.sort_index(axis = 1, ascending = False) # For columns

---
**Differentiating between pass by value and pass by reference**

In [ ]:
df = new_df # Pass by reference, new_df points to the same mem as df, and changing new_df changes df

In [ ]:
df

In [ ]:
df = new_df.copy() # Pass by value

In [ ]:
df

---
**Setting values in dataframe**

In [ ]:
new_df.loc[0, 0] = 10.01

In [ ]:
new_df

In [ ]:
df

In [ ]:
new_df.columns = ['A', 'B', 'C', 'D', 'E'] # Change column headings

In [ ]:
new_df

In [ ]:
new_df.loc[0, 'B'] = 20.02

In [ ]:
new_df

---
**Drop columns & rows**

In [ ]:
new_df.drop('E', axis = 1) # In axis 1, drop column E. !The original DF is left intact. 
# Pass 'inplace=True' as a param to make it permanent.

In [ ]:
new_df.drop(69, axis = 0)

---
**Get specific rows and columns**

In [ ]:
new_df.loc[[14, 17], ['C', 'D']]

In [ ]:
new_df.loc[:, ['B', 'D']] # Get all rows but specific columns

---
**Making queries**

In [ ]:
new_df.loc[(new_df['A'] > 0.65) & (new_df['C'] > 0.5)] # All rows whose A value is greater than 0.65

---
**Using iloc**

In [ ]:
new_df.iloc[[3, 10], [1, 3]] # Get row no. 3 and 10, and column no. 1 and 3 irrespective of their actual names

---
**Reset index**

In [ ]:
new_df.reset_index(drop=True, inplace=True)

In [ ]:
new_df

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Alfred'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})

In [ ]:
df

---
**Drop rows with missing values**

In [ ]:
df.dropna(how = 'all') # only remove if all row values are NaT

**Drop duplicates for a column**

In [ ]:
df.drop_duplicates(subset = ['name'])

In [ ]:
df.info()

In [ ]:
df.isnull()

---
**Statistical methods**

* df.mean()
* df.corr()
* df.count()
* df.max() / df.min()
* df.median()
* df.std()